#app {
  align-items: center;
  justify-content: center;
  color: #242424;
  margin: 20px;
  //background-color: #dfdfdf;
}

.axis {
  background-color: white;
}

.app {
  width: 100vw;
  height: 100vh;
}

svg {
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgba(247, 247, 247, 0.4);
  overflow: visible;
}

.d3Drawing text {
  fill: black;
  font: 10px sans-serif;
}

.dots {
  fill: white;
}

.dot {
  fill: rgba(232, 147, 118, 0.85);
  stroke: white;
  cursor: pointer;
}

.dot-highlighted {
  fill: steelblue;
}

.dragging {
  cursor: grabbing!important;
}

.dragRect {
  fill: #e38e71;
  fill-opacity: 0.01;
  cursor: grab;
}

.marquee {
  fill-opacity: 0;
  stroke-width: 2;
  stroke: gray;
  stroke-dasharray: 5;
  //border-style: dashed;
}